{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "next",
    "plugin:@typescript-eslint/recommended",
    "plugin:@tanstack/eslint-plugin-query/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "@tanstack/query",
    "prettier",
    "import"
  ],
  "rules": {
    "prettier/prettier": "error",
    "quotes": 1,
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "unknown",
          [
            "sibling",
            "parent"
          ],
          "index",
          "object",
          "type"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@/*",
            "group": "internal"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        },
        "pathGroupsExcludedImportTypes": []
      }
    ]
  }
}
